body {
    text-align: center;
    background-color: rgba(166, 76, 76, 0.435);
}
.myfoto {
    width: 250px;
    height: 200px;
}
.foto h1 {
    margin: 100px 0px 50px 400px;
}
.foto {
    display: flex;
}
.img {
    width: 50px;
    height: 20px;
}
.info {
    display: flex;
    justify-content: space-around;
    background-color: rgba(159, 74, 74, 0.658);
    height: 50px;
}
ul li {
    list-style-type: none;
}
.head {
    background-color: rgba(159, 74, 74, 0.658) ;
    height: 40px;
}
